<%- include("../partials/head") %>
    <%- include("../partials/nav"); %>

        <main>
            <div class="form-container">
                <div>
                    <ul>
                        <% if (locals.errors) { %>
                            <% locals.errors.forEach((error)=> { %>
                                <li>
                                    <%= error.msg ? error.msg : error %>
                                </li>
                                <%})%>
                                    <%} %>
                    </ul>
                </div>
                <form action="/folder/<%= locals.title === 'edit' ? locals.id : 'create-folder' %>" method="POST">
                    <h1>
                        <%= locals.title.charAt(0).toUpperCase() + locals.title.slice(1).toLowerCase() %>
                            Folder
                    </h1>
                    <div class="form-group">

                        <label for="titleFolder">Name Folder</label>
                        <input type="text" id="titleFolder" placeholder="Folder" name="titleFolder" required autofocus
                            value="<%=locals.name ? locals.name : " New Folder" %>">

                    </div>

                    <button class="btn-form" type="submit">
                        <%= locals.title.charAt(0).toUpperCase() + locals.title.slice(1).toLowerCase() %>
                    </button>
                </form>
            </div>
        </main>

        <%- include("../partials/footer"); %>