<%- include('../partials/head') %>
    <%- include('../partials/nav') %>

        <main>
            <div class="folders">
                <div class="containerFandT">
                    <div class="folderTitle">
                        <h1>Folders</h1>
                        <a href="/create-folder" class="btn btn-primary">Add Folder</a>

                    </div>
                    <div class="folderContainer">

                        <% locals.folders.forEach((folder)=> { %>
                            <a href="/folder/<%= folder.id %>">

                                <div class="folderCard">
                                    <img src="/svgs/folder.svg" alt="">

                                    <p>
                                        <%= folder.name %>
                                    </p>
                                </div>
                            </a>
                            <% }) %>
                    </div>
                </div>
            </div>
        </main>

        <%- include('../partials/footer') %>