<%- include('../partials/head') %>
    <%- include('../partials/nav') %>

        <main>
            <div class="folders">
                <div class="containerFandT">
                    <div class="folderTitle">
                        <h1>Folders</h1>
                        <a href="/folder/create-folder" class="btn btn-primary">Add Folder</a>

                    </div>
                    <div class="folderContainer">

                        <% locals.folders.forEach((folder)=> { %>
                            <div class="folderCard">

                                <a href="/folder/<%= folder.id %>" style="width: 100%;">
                                    <div class="">
                                        <div style="display: flex ; gap: 20px;">
                                            <img src="/svgs/folder.svg" alt="">

                                            <p style="color: #fff;">
                                                <%= folder.name %>
                                            </p>
                                        </div>

                                    </div>
                                </a>
                                <div style="display: flex; gap: 10px; padding:10px;">
                                    <a href="/folder/share/<%= folder.id %>/create" class="btn-icon btn-secondary"
                                        title="Share">
                                        <img src="/svgs/share.svg" alt="share">
                                    </a>
                                    <a href="/folder/<%= folder.id %>/edit" class="btn-icon btn-secondary"
                                        title="Edit"><img src="/svgs/edit_icon.svg" alt=""></a>

                                    <form action="/folder/<%= folder.id %>?_method=DELETE" method="POST"
                                        style="display: inline;" title="Delete">
                                        <button class="btn-icon btn-secondary" type="submit">
                                            <img src="/svgs/trash-2.svg" alt="">
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </main>

        <%- include('../partials/footer') %>