<%- include('../partials/head') %>
    <%- include('../partials/nav') %>

        <main>
            <div class="folders">
                <div class="containerFandT">
                    <div class="folderTitle" style="border-bottom:1px solid var(--border);">
                        <h1>
                            <%= locals.folder.name %>
                        </h1>
                        <a href="/folder/<%= locals.folder.id %>/add-file" class="btn btn-primary">Add File</a>

                    </div>
                    <div class="containerFiles">
                        <% locals.folder.files.forEach((file)=> { %>
                            <a href="/folder/file/<%= file.id %>">
                                <div class="fileCard">
                                    <div style="display: flex; gap: 10px;">
                                        <p style="color: #fff;" title="<%= file.title %>">
                                            <%= file.title %>
                                        </p>
                                    </div>
                                    <div
                                        style="display: flex; justify-content: center; align-items: center; height: 100%;">

                                        <img src="/svgs/file.svg" alt="" style="height: auto; width: 110px;">
                                    </div>

                                </div>
                            </a>
                            <% }) %>
                    </div>
                </div>
            </div>
        </main>

        <%- include('../partials/footer') %>